.overlay {
  height: 120vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}
.ui-controls {
  width: 99vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
}
.ui-controls * {
  position: fixed;
  z-index: 999999;
}
.overlay.active {
  z-index: 9999;
  background-color: black;
}

.next-img,
.prev-img {
  transform-origin: center;
}
.next-img {
  left: 150% !important;
}
.prev-img {
  left: -50% !important;
}

img:not(.zoom) {
  transform-origin: top left;
}
img.zoom {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) translate3d(0,0,0);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: text;
  /* pointer-events: none; */
}

.active {
  transform-origin: center;
}

.mdb-lightbox figure img.zoom:hover {
  opacity: 1;
}

.block {
  display: block;
}
