.Cal__Header__root {
  text-align: center;
  padding: 0;
  min-height: auto;
}

.picker__box {
  font-family: Roboto, sans-serif;
}

.Cal__Weekdays__root {
  background-color: white !important;
  color: #999 !important;
}

.picker__header {
  margin: 0 !important;
}

.picker__month-display {
  padding-top: 10px;
}

.picker__date-display {
  margin: 0 !important;
}

.picker__day-display {
  padding: 40px 0;
}

.picker__year-display {
  padding-bottom: 10px;
}
